@font-face {
    font-family: 'TTNorms';
    src: url(../fonts/TT\ Norms\ Pro\ Bold.otf) 
  }




.adcontainer {
    display: flex;
    width: 970px;
    height: 250px;
}

.photo {
    height: 250px;
    width: 600px;

}


.rightside {
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    flex: 1;
    text-align: center;
    background-color: #8b0c00;
}

.headline {
    font-family: "TTNorms";
    font-size: 16px;
    color: #f6f6f6;
    top: 200px;
    position: absolute;
}
.promo {
    font-family: "TTNorms";
    font-size: 26px;
    color: #f6f6f6;
    position: absolute;
    top: 25px;
    left: 620px;
    padding: 10px;
}
.button {
    height: 50px;
    width: 200px;
    background-color: #FF3008;
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: center; 
    border-radius: 10px;



}    

.logo {
    position: absolute;
    top: 190px;
    left: 10px;
}

.ordernow {
    font-size: 20px;
    font-family: "TTNorms";
    color: #f6f6f6;
    padding: 14px;

}